.wrap {
  max-width: 420px;
  margin: 170px auto;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
}

.wrap h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fc6100;
}

.wrap p {
  text-align: center;
  margin-bottom: 20px;
  color: #636363;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.form label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.form input {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
.form button {
  background: #fc6100;
  color: #fff;
  border: none;
  padding: 10px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.error {
  color: #b00020;
  font-weight: 600;
}

