.produtosOfertas {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  max-width: 1400px;
  text-align: center;
  flex-direction: column;

  @media (max-width: 760px) {
    padding: 10px;
  }
}

.produtosGrid {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 760px) {
    gap: 10px;
  }
}

.produtosHeader {
  margin-bottom: 24px;

  @media (max-width: 760px) {
    margin-bottom: 16px;
  }
}

h1 {
  font-size: 4.5rem;
  color: #ffffff;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 800;
  margin-bottom: 8px;

  @media (max-width: 760px) {
    font-size: 2.5rem;
  }
}

h1 span {
  color: #fc6100;
}

p {
  font-size: 1.5rem;
  color: #ffffff;
  font-family: "Inter", "Montserrat", Arial, sans-serif;
  font-weight: 500;

  @media (max-width: 760px) {
    font-size: 1rem;
  }
}