/* Container principal da faixa */
.faixaContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: transparent;
  margin-top: 16px;

  @media (max-width: 760px) {
    padding: 0 8px;
    display: none;
    
  }
}

.faixaContent {
  background: #dadada;
  border-radius: 24px;
  display: flex;
  gap: 28px;
  padding: 24px 32px;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 760px) {
    gap: 2px;
    padding: 6px 14px;
    max-width: 400px;
    flex-direction: column;
    justify-content: center;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 16px;
  min-width: 220px;

  @media (max-width: 760px) {
    gap: 2px;
    min-width: 120px;
  }
}

.icon {
  color: #6c7a89;
  font-size: 2rem;
  min-width: 36px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 760px) {
    font-size: 0.6rem;
    min-width: 8px;
    min-height: 8px;
  }
}

.item span {
  color: #073b4c;
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Montserrat", Arial, sans-serif;

  @media (max-width: 760px) {
    font-size: 0.6rem;
  }
}
