/* Loading e erro */
.loading {
  text-align: center;
  color: #073b4c;
  font-size: 1.2rem;
  margin: 32px 0;
}
.error {
  text-align: center;
  color: #d32f2f;
  font-size: 1.2rem;
  margin: 32px 0;
}

.destaquesSection {
  max-width: 1400px;
  margin: 0 auto;
  padding: 32px 0 0 0;
  text-align: center;


  @media (max-width: 760px) {
    padding: 16px 0 0 0;
    max-width: 400px;
  }
}
.titulo {
  font-size: 2rem;
  color: #073b4c;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 16px;

  @media (max-width: 760px) {
    font-size: 1.5rem;
  }
}
.categorias {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;

  @media (max-width: 760px) {
    gap: 12px;
    margin-bottom: 16px;
  }
}
.categoriaBtn {
  background: #fc6100;
  color: #ffffff;
  border: none;
  border-radius: 16px;
  font-size: 1rem;
  font-weight: 700;
  padding: 6px 18px;
  cursor: pointer;
  font-family: "Montserrat", Arial, sans-serif;


  @media (max-width: 760px) {
    font-size: 0.9rem;
    padding: 5px 14px;
  }
}
.verTudo {
  color: #073b4c;
  font-weight: 700;
  text-decoration: none;
  font-size: 1rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 760px) {
    font-size: 0.9rem;
  }
}

.cardsGrid {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 24px;
  overflow: hidden;
  padding: 12px 0;

  @media (max-width: 760px) {
    gap: 2px;
    margin-top: 16px;
    padding: 8px 0;
  }
}

.carouselRow {
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  align-items: stretch;
  gap: 24px;
  animation-name: scrollRight;
  animation-timing-function: linear;
  animation-duration: var(--duration, 10s);
  animation-iteration-count: infinite;
  will-change: transform;

  @media (max-width: 760px) {
    gap: 16px;
  }
}

.carouselRow:hover .track {
  animation-play-state: paused;
}

/* .reverse {
  animation-direction: reverse;
} */

.cardWrapper {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
}

.bottomRow {
  padding-bottom: 8px;
}

@keyframes scrollRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


