/* Container do banner meio */
.bannerMeioContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px auto;
  max-width: 1400px;

  @media (max-width: 760px) {
    margin: 16px auto;
    max-width: 300px;
  }
}

.bannerMeioImg {
  max-width: 1100px;
  width: 100%;
  border-radius: 32px;
  box-shadow: 0 2px 16px rgba(7, 59, 76, 0.1);
  object-fit: cover;

  @media (max-width: 760px) {
    border-radius: 16px;
    max-width: 400px;
  }
}
