.cadastroSection {
  padding: 32px 20px;
  max-width: 920px;
  margin: 170px auto;
  color: #073b4c;
}

.cadastroSection h1 {
  font-size: 1.6rem;
  margin-bottom: 8px;
  color: #073b4c;
}

.cadastroSection p {
  color: #6c7a89;
}

.form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  gap: 12px;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.colSmall {
  width: 140px;
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #d0d7da;
  background: transparent;
  color: #000000;
}

.error {
  color: #b00020;
  font-size: 0.9rem;
  margin-top: 4px;
}

.submitBtn {
  margin-top: 10px;
  background: #fc6100;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  align-self: flex-start;
  width: 100%;
}

.inputError {
  border-color: #b00020 !important;
}
