.page {
  min-height: 100vh;
  width: 100vw;
  background: #000000;
  color: #ffffff;
  padding: 0;
  text-align: center;

}

.content {
  padding: 0;
  text-align: center;
}

.produtosContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0;

  @media (max-width: 760px) {
    padding: 10px 0;
  }
}





